@charset "UTF-8";

.padding {
  padding: 5px 5px 5px 5px;
  
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 26px;
}

input[type=submit] {
text-align: center;
width: 32px;
padding: 12px 28px;
text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}